@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');


body {
    background-color: #FFD166;
    text-align:center;
    font-family: 'Roboto', sans-serif; 
    transition: 1s;
    word-break: auto;
}

.main-container {
    display:grid;
    grid-template-columns: 33% 33% auto;
    align-items: center;
    justify-items: center;
}

.center-container {
    width: 100%;
}

.main-title {
    margin: 5rem;
    font-weight: 100;
    margin-bottom: 5vw;
}

h2 {
    display:inline;
}

#text-container {
    height: 450px;
    display: grid;
    grid-template-rows: 100% 20% auto;

}

#text-container > h1 {
    align-self: center;
    font-size: calc(15px + 1.5vw);
}

.button-holder {
    gap: 1px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-self: end;
}

button {
    display:inline-block;
    padding: 10px;
    background-color:black;
    color:white;
    border: 0;
    transition: 0.3s;
}

button:hover {
    background-color: #D3D3D3;
    color:black;
    transform: scale(1.01);
    cursor: pointer;
}

#reset-game-btn {
    padding: 1px;
    width: 50%;
}

.left-container, .right-container > p {
    font-weight: 100;
}