@import url('https://fonts.googleapis.com/css?family=Roboto:500&display=swap');


body {
    background-color: #ebc714;
    text-align:center;
    font-family: 'Roboto', sans-serif; 
}

.main-container {
    display:grid;
    grid-template-columns: 33% 33% auto;
    align-items: center;
    justify-items: center;
}

.center-container {
    width: 100%;
}

body > h1 {
    margin: 5rem;
}

h2 {
    display:inline;
}

#text-container {
    background-color: #D3D3D3;
    max-width: 400px;
    height: 250px;
    margin: 0 auto;
    border-radius: 2rem;
    transition: 1s;
    display: grid;
    grid-template-rows: 66.5% 33.5% auto;

}

#resultOfOneRound {
    align-self: center;
}

.button-holder {
    gap: 1px;
    display:grid;
    grid-template-columns: 33% 33% auto;
    align-self: end;
}

button {
    display:inline-block;
    padding: 25px;
    background-color:black;
    color:white;
    border: 0;
    transition: 0.3s;
}

button:hover {
    background-color: #D3D3D3;
    color:black;
    transform: scale(1.01);
    cursor: pointer;
}

#reset-game-btn {
    padding: 1px;
    width: 50%;
}